<!-- footer  -->
<div class="bg-dark">
  <footer class="py-3 mt-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="/12nb23n1m1n23nabjsnlan1kn2j" class="nav-link px-2 text-info"
          >Home</a
        >
      </li>
    </ul>
    <p class="text-center text-info">© 2024 All rights reserved, Inc</p>
  </footer>
</div>
<script
  src="https://kit.fontawesome.com/a7b6b8e1b8.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
