<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waq-fe-nau</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
</html>
<body>
  <!-- main navbar -->
  <div class="head">
    <nav class="main-nav">
      <div>
        <img src="/images/logo for Waqfenau.png" alt="icon" />
      </div>
      <ul>
        <li>
          <a href="/12nb23n1m1n23nabjsnlan1kn2j">
            <i
              class="fa-solid fa-house fa-bounce fa-xl"
              style="color: #74c0fc"
            ></i>
          </a>
        </li>
        <li>
          <a href="/12nb23n1m1n23nabjsnlan1kn2j/new">
            <i class="fa-solid fa-user-plus fa-xl" style="color: #74c0fc"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
